In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [9]:
crime_09_21="crime_09_21.csv"
crimer_2021_df=pd.read_csv(crime_09_21,encoding="utf-8")

In [16]:
crime_newtime = pd.to_datetime(crimer_2021_df['occur_date'],format='%Y-%m-%d', errors='ignore')
crime_newtime

0         6/17/2009
1         2/24/2010
2         1/25/2010
3          1/1/2009
4          1/1/2009
            ...
345876    1/27/2021
345877    1/28/2021
345878    1/28/2021
345879    1/28/2021
345880    1/20/2021
Name: occur_date, Length: 345880, dtype: object

In [12]:
crimer_2021_df.head()

,offense_id,occur_date,occur_time,location,UC2_Literal,ibr_code,neighborhood,lat,long,timestamp
0,61681984.0,6/17/2009,1400,375 AUBURN AVE,LARCENY-NON VEHICLE,2308,Browns Mill Park,33.68143,-84.39669,6/17/2009
1,72692336.0,2/24/2010,2329,600 MARTIN ST,AGG ASSAULT,1315K,Pittsburgh,33.72212,-84.39460,2/24/2010
2,81830088.0,1/25/2010,830,400 FLETCHER ST SW,HOMICIDE,911,Pittsburgh,33.72554,-84.40107,1/25/2010
3,90010061.0,1/1/2009,10,501 TUFTON TRL SE,BURGLARY-RESIDENCE,2202,Glenrose Heights,33.66477,-84.38430,1/1/2009
4,90010159.0,1/1/2009,57,BUCKEAD AVE/GRANDVIEW AVE,ROBBERY-PEDESTRIAN,1204,Buckhead Village,33.83752,-84.37574,1/1/2009

In [13]:
crimer_2021_df.tail()

,offense_id,occur_date,occur_time,location,UC2_Literal,ibr_code,neighborhood,lat,long,timestamp
346265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
crimer_2021_df=crimer_2021_df.dropna(how='any')

In [15]:
crimer_2021_df.tail()

,offense_id,occur_date,occur_time,location,UC2_Literal,ibr_code,neighborhood,lat,long,timestamp
345876,210280231.0,1/27/2021,21:15,2343 CAMPBELLTON RD SW,LARCENY-FROM VEHICLE,23F,Southwest,33.704558,-84.465379,1/27/2021
345877,210280239.0,1/28/2021,2:37,485 LINDBERGH PL NE,AGG ASSAULT,13A,Lindbergh/Morosgo,33.820101,-84.371098,1/28/2021
345878,210280257.0,1/28/2021,3:26,3186 US-78,LARCENY-FROM VEHICLE,23F,Collier Heights,33.785756,-84.491515,1/28/2021
345879,210280267.0,1/28/2021,2:23,323 SPRING ST NW,LARCENY-FROM VEHICLE,23F,Downtown,33.763580,-84.388717,1/28/2021
345880,210919771.0,1/20/2021,9:49,285 WILLIAMS ST NW,LARCENY-FROM VEHICLE,23F,Downtown,33.763189,-84.390543,1/20/2021

In [17]:
crimer_2021_df['occur_year'] = pd.DatetimeIndex(crimer_2021_df['occur_date']).year
crimer_2021_df.head()

,offense_id,occur_date,occur_time,location,UC2_Literal,ibr_code,neighborhood,lat,long,timestamp,occur_year
0,61681984.0,6/17/2009,1400,375 AUBURN AVE,LARCENY-NON VEHICLE,2308,Browns Mill Park,33.68143,-84.39669,6/17/2009,2009
1,72692336.0,2/24/2010,2329,600 MARTIN ST,AGG ASSAULT,1315K,Pittsburgh,33.72212,-84.39460,2/24/2010,2010
2,81830088.0,1/25/2010,830,400 FLETCHER ST SW,HOMICIDE,911,Pittsburgh,33.72554,-84.40107,1/25/2010,2010
3,90010061.0,1/1/2009,10,501 TUFTON TRL SE,BURGLARY-RESIDENCE,2202,Glenrose Heights,33.66477,-84.38430,1/1/2009,2009
4,90010159.0,1/1/2009,57,BUCKEAD AVE/GRANDVIEW AVE,ROBBERY-PEDESTRIAN,1204,Buckhead Village,33.83752,-84.37574,1/1/2009,2009

In [18]:
crimer_2021_df['occur_month'] = pd.DatetimeIndex(crimer_2021_df['occur_date']).month
crimer_2021_df.head()

,offense_id,occur_date,occur_time,location,UC2_Literal,ibr_code,neighborhood,lat,long,timestamp,occur_year,occur_month
0,61681984.0,6/17/2009,1400,375 AUBURN AVE,LARCENY-NON VEHICLE,2308,Browns Mill Park,33.68143,-84.39669,6/17/2009,2009,6
1,72692336.0,2/24/2010,2329,600 MARTIN ST,AGG ASSAULT,1315K,Pittsburgh,33.72212,-84.39460,2/24/2010,2010,2
2,81830088.0,1/25/2010,830,400 FLETCHER ST SW,HOMICIDE,911,Pittsburgh,33.72554,-84.40107,1/25/2010,2010,1
3,90010061.0,1/1/2009,10,501 TUFTON TRL SE,BURGLARY-RESIDENCE,2202,Glenrose Heights,33.66477,-84.38430,1/1/2009,2009,1
4,90010159.0,1/1/2009,57,BUCKEAD AVE/GRANDVIEW AVE,ROBBERY-PEDESTRIAN,1204,Buckhead Village,33.83752,-84.37574,1/1/2009,2009,1

In [19]:
crimer_2021_df.to_csv("crime_09_21_final.csv",index=False, header=True)